.wp-filter.websites-filter {
	display: flex;
	flex-wrap: wrap;
	padding-left: 20px;
	align-items: center;
}

.wp-filter.websites-filter .filter-links > li > a {
	padding-top: 19px;
}

.wp-filter.websites-filter .filter-count {
	min-width: 1ch;
}

.wp-filter.websites-filter .filter-links {
	margin-right: auto;
}

.wp-filter.websites-filter .search-form {
	margin: 0;
}

.wp-filter.websites-filter .search-box {
	margin: 12px 0;
	gap: 8px;
}

.websites-browser {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	gap: 20px;
	margin-top: 12px;
}

.websites-item {
	position: relative;
	border: 1px solid #dcdcde;
	box-shadow: 0 1px 1px -1px rgba(0, 0, 0, .1);
}

.websites-preview {
	display: block;
	position: relative;
	aspect-ratio: 1.333;
}

.websites-thumbnail {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.websites-details {
	position: absolute;
	inset: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(255, 255, 255, .4);
	opacity: 0;
	transition: all .2s;
}

.websites-details:hover {
	opacity: 1;
}

.websites-details > span {
	color: #fff;
	background-color: rgba(0, 0, 0, .7);
	border-radius: 3px;
	font-size: 15px;
	line-height: 1.2;
	font-weight: 600;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .6);
	padding: 12px 36px;
}

.websites-caption {
	position: relative;
	padding: 15px;
	background-color: rgba(255, 255, 255, .65);
	box-shadow: inset 0 1px 0 rgba(0, 0, 0, .1);
}

.websites-caption > h2 {
	font-size: 15px;
	line-height: 1.2;
	font-weight: 600;
	margin: 0;
	padding: 0;
}

.websites-actions {
	position: absolute;
	inset: 0;
	left: auto;
	width: fit-content;
	padding: 0 15px;
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: center;
	background-color: rgba(246, 247, 247, .7);
	border-left: 1px solid rgba(0, 0, 0, .05);

	opacity: 0;
	transition: all .2s;
}

.websites-item:hover .websites-actions {
	opacity: 1;
}

.websites-item .notice {
	position: absolute;
	inset: 0;
	bottom: auto;
	margin: 0;
	z-index: +1;
}

.websites-item .notice-success p:before {
	color: #68de7c;
	content: "\f147";
	display: inline-block;
	font: normal 20px/1 dashicons;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	vertical-align: top;
}

.bbe-import-feedback {
	margin-top: 12px;
}

/* The7 Dashboard */
.dt-alertify-response {
	max-height: 200px;
	overflow-y: auto;
	overflow-x: hidden;
	text-align: left;
}

.dt-dummy-screenshot {
	position: relative;
	width: 215px;
	float: left;
}

.dt-dummy-screenshot a {
	display: block;
}

.dt-dummy-screenshot img {
	width: 100%;
	height: auto;
	display: block;
}

.dt-dummy-controls {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-left: 251px;
}

.dt-dummy-controls div.error.inline {
	margin: 0;
}

.dt-dummy-controls-block {
	padding-bottom: 1.33em;
}

.dt-dummy-controls-block:last-child {
	padding-bottom: 0;
}

.dt-dummy-controls-block p:first-child {
	margin-top: 0;
}

.dt-dummy-controls-block label,
.dt-dummy-controls-block .dt-dummy-checkbox-desc {
	padding: 0px 10px 10px 0px;
	display: inline-block;
	vertical-align: middle;
}

.dt-dummy-controls-block .dt-dummy-checkbox-desc {
	font-style: italic;
}

.dt-dummy-controls-block h4 {
	margin-top: 0em;
}

.dt-dummy-controls-block hr {
	margin-top: 1.8em;
	margin-bottom: 1.1em;
}

.dt-dummy-button-wrap,
.dt-dummy-extra-buttons-wrap {
	display: inline-block;
}

.dt-dummy-button-wrap .spinner {
	margin-top: 4px;
}

.dt-dummy-button-wrap .button-primary.button--importing,
.dt-dummy-button-wrap .button-primary.button--importing:hover {
	cursor: default;
}

.dt-dummy-control-buttons button {
	margin-right: 7px;
}

.dt-dummy-alertify-loading .alertify-buttons {
	display: none;
}

.dt-dummy-alertify-loading .dt-dummy-spinner {
	display: block;
	height: 32px;
	background: url(../images/spinner.gif) no-repeat;
	background-position: center center;
	opacity: 0.7;
}

.new-badge {
	position: absolute;
	top: 5px;
	right: 5px;
	background-color: #fe6363;
	border-radius: 3px;
	color: #ffffff;
	padding: 5px;
}

.dt-dummy-tags span,
.dt-dummy-tag {
	padding: 5px;
	margin: 0 5px 0 0;
	background-color: #F9F9F9;
	border-radius: 3px;
	border: 1px solid #ddd;
}

.dt-dummy-tags-filter {
	display: inline-block;
}

/* Import by url */
#dt-dummy-url-input {
	margin-bottom: 5px;
}

/* PHP status table */
table.dt-dummy-php-status h2 {
	font-size: 14px;
	margin: 0;
}

table.dt-dummy-php-status tr:nth-child(2n) td {
	background: #fcfcfc;
}

table.dt-dummy-php-status td mark {
	background: 0 0;
}

table.dt-dummy-php-status td mark.yes {
	color: #7ad03a;
}

table.dt-dummy-php-status td mark.error {
	color: #a00;
}

.dt-dummy-search,
.bbe-import-page {
	margin: 24px 0 16px 0;
}

.dt-dummy-search input {
	margin: 0;
}

.dt-dummy-content {
	margin: 16px 0;
	border: 1px solid #e5e5e5;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	background: #fff;
}

.dt-dummy-import-item {
	overflow: hidden;
	padding: 0 18px 18px 18px;
}

.dt-dummy-content h3 {
	padding: 8px 16px;
	margin: 0 0 16px 0;
	font-size: 18px;
	font-weight: 400;
	background-color: #F9F9F9;
}

.bbe-installation-status {
	position: fixed;
	top: 15%;
	left: 25%;
	box-sizing: border-box;
	width: 50%;
	height: 70%;
	padding: 8px 24px;
	overflow: auto;
	-webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.4);
	background: #fff;
}

.bbe-updated:before,
.bbe-error:before {
	float: left;
	content: "\2022";
	padding-right: 8px;
	font-size: 20px;
	line-height: 20px;
	vertical-align: top;
}

.bbe-updated:before {
	color: #27ae60;
}

.bbe-error:before {
	color: #e74c3c;
}

.dt-dummy-inline-msg.inline p {
	margin: 0.5em 0;
	padding: 2px;
}

.dt-dummy-controls p {
	margin: 0;
}

.dt-dummy-controls ul,
.dt-dummy-controls ol {
	margin-bottom: 0;
}

.dt-dummy-import-settings .disabled {
	color: #c7c7c7;
}

.demo-import-status {
	margin-left: 5px;
}

.tabs-holder.hidden {
	display: none;
}

.nav-tab-wrapper a.blocked {
	color: #808080;
	cursor: default;
}

.bbe-demo-quick-search {
	font-style: italic;
}

.bbe-demo-quick-search .bbe-demo-tag {
	cursor: pointer;
}

.bbe-demo-quick-search .bbe-demo-tag:hover {
	border-bottom: dotted 1px;
}

.bbe-demo-tags-list {
	font-style: italic;
	padding-top: 10px;
	opacity: 0.7;
}
